@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap');

.main-container {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
}
.input-field {
    width: 100%;
    color: rgba(0, 0, 0, 0.75);
    /* line-height: 1.50; */
    border: 1px solid #ccc;
    /* border-radius: 20px; */
    -webkit-appearance: none;
    background-color: transparent;
    /* padding: 6px 15px; */
    /* font-size: 12px; */
    /* margin-bottom: 0.25rem; */
}
.input-field:focus, .input-field:hover {
    outline: 0;
    border-color: '#000';
}
.input-field:disabled {
    background-color: rgba(0, 0, 0, 0.1);
}
.separator {
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    /* color: ; */
}
.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ccc;
}
.separator::before {
    margin-right: .55em;
}
.separator::after {
    margin-left: .55em;
}
.sm-spinner {
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 22px;
    height: 22px;
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}
.modal-backdrop {
    opacity:0.5 !important;
}
.mx-icon-calendar, .mx-icon-clear {
    margin-top: 3px;
}
.scroll-horizontal {
    width:100%;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
}
.hide-sidebar .main-container {
    width: 100% !important;
}
.hide-sidebar .sidebar-container {
    width: 0px !important;
}
@media only screen and (max-width: 600px) {
    .show-sidebar {
        background: rgba(0, 0, 0, 0.80);
    }
    .show-sidebar .m-c {
        display: none;
        height: 100vh;
    }
    .main-container {
        width: 25%;
    }
    .sidebar-container {
        width: 75%;
    }
}
.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 180px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    top: -28px;
    left: 155%;
    font-size: 12px;
}
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
@media only screen and (min-width: 600px) {
    .main-container {
        width: 70%;
    }
    .sidebar-container {
        width: 30%;
    }
}
@media only screen and (min-width: 768px) {
    .main-container {
        width: 75%;
    }
    .sidebar-container {
        width: 25%;
    }
}
@media only screen and (min-width: 992px) {
    .main-container {
        width: 100%;
    }
    .sidebar-container {
        width: 30%;
    }
}
@media only screen and (min-width: 1200px) {
    .main-container {
        width: 80%;
    }
    .sidebar-container {
        width: 20%;
    }
}
@media screen and (min-width: 1400px) {
    .main-container {
        width: 85%;
    }
    .sidebar-container {
        width: 15%;
    }
}
/* @media screen and (min-width: 1600px) {
    .main-container {
        width: 90%;
    }
    .sidebar-container {
        width: 10%;
    }
} */
/* @media screen and (min-width: 1900px) {
    .main-container {
        width: 80%;
    }
    .sidebar-container {
        width: 20%;
    }
} */
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.swal2-title {
    font-family: 'Manrope', 'sans-serif' !important;
    font-weight: 700 !important;
}

.swal2-content, .swal2-confirm, .swal2-cancel {
    font-family: 'Manrope', 'sans-serif' !important;
}

.content-container {
    max-width: 1200px;
    margin: 0 auto;
}